audio-helper @ file:///Users/warithharchaoui/audio-helper
certifi==2024.8.30
charset-normalizer==3.4.0
ffmpeg-python==0.2.0
filelock==3.16.1
fsspec==2024.9.0
future==1.0.0
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mpmath==1.3.0
networkx==3.4
numpy==1.26.4
os-helper @ git+https://github.com/warith-harchaoui/os-helper.git@main
packaging==24.1
pandas==1.5.3
pluggy==1.5.0
psutil==5.9.8
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sympy==1.13.3
torch==2.4.1
torchaudio==2.4.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
validators==0.34.0
wheel==0.44.0
